.block1 {
        width: 200px;
        height: 800px;
        background: #ccc;
        padding: 10px;
        border: solid 1px black;
        float: left;
        position: relative;
        top: 1px;
        left: 7px;
        margin-bottom: 25px;
        background-color: #D3D3D3;
        font-family: arial, sans-serif;
        font-size: 25px;
        color: black;
}

.block2 {
        width: 1560px;
        height: 800px;
        background: #ccc;
        padding: 10px;
        border: solid 1px black;
        float: left;
        position: relative;
        top: 1px;
        left: 46px;
        margin-bottom: 25px;
        background-color: #FFFAFA;
}
.task1{
  font-size: 35px;
  float: left;
}
a{
  color: green;
}

li1 {
  width: 50px;
  height: 175px;
          line-height: 465%;
}
li2{
          line-height: 465%;
}
li3 {
  position: relative;
          line-height: 465%;
}
li4 {
  position: relative;
          line-height: 465%;
}
li5{
  position: relative;
        line-height: 465%;
}
li6{
          line-height: 200%;
}
.navigation {
  line-height: 100%;
  font-style: italic;
}
.python{
  font-size: 25px;
}
.useful-sources{
 font-size: 25px;
}
.books{
  font-size: 25px;
}
.django{
  font-size: 25px;
}
body {
  font-family: arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color:#C0C0C0;
}
header{
  margin-left:100px;
  margin-right:400px;
  margin-top: -50px;
}

html{
  position: absolute;
}
